<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
	<listener class-name="resources.ExtentReporterNG"></listener>		
</listeners>
 	<test name="RoundTrip Booking Test">
    <classes>
      <class name="com.goibio.testcases.OnewayFlightBookingTest"/>
    </classes>
  </test>
   <test name="OnewayTrip Booking Test">
    <classes>
		 <class name="com.goibio.testcases.RoundTripBookingTest"/> 
    </classes>
  </test>
   <!-- Test -->
</suite> <!-- Suite -->
